.wrapper {
  display: grid;
  gap: 1rem;

  @media screen and (max-width: 450px) {
    gap: 0.5rem;
  }
}

.list_vertical {
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  
  @media screen and (max-width: 980px) {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

.list_horizontal {
  grid-template-columns: 1fr;
}
