.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 0.5rem;
  background: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: var(--primary-color);
    color: var(--white-color);
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}
