.wrapper {
  display: grid;
  grid-template-columns: 30rem 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;

  .right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media screen and (max-width: 780px) {
      grid-template-columns: 20rem 1fr;
  }

  @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
  }
}
