.wrapper {
  display: grid;
  grid-template-columns: 30rem 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;

  .right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
